/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', sans-serif;
    line-height: 1.6;
    color: #222;
    padding: 20px;
    background-color: #eae7dc;
}

/* Container */
.container {
    width: 85%;
    margin: 0 auto;
}

/* Header Section */
header {
    background-color: #3d5a80;
    color: #e0fbfc;
    padding: 25px 0;
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    margin-bottom: 15px;
    font-size: 2.8em;
    font-weight: bold;
}

header p {
    font-size: 1.3em;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
}

nav ul li a {
    color: #e0fbfc;
    text-decoration: none;
    font-size: 1.1em;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #293241;
}

nav ul li a:hover {
    background-color: #98c1d9;
}

/* About Section */
#about {
    background-color: #ffffff;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#about h2 {
    font-size: 2.2em;
    margin-bottom: 20px;
    color: #3d5a80;
}

#about p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#about table {
    width: 100%;
    margin-top: 25px;
    border-collapse: collapse;
}

#about table th,
#about table td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
}

#about table th {
    text-align: left;
    width: 35%;
    color: #555;
}

/* Projects Section */
#projects {
    padding: 25px;
    margin-bottom: 25px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#projects h2 {
    font-size: 2.2em;
    margin-bottom: 25px;
    color: #3d5a80;
}

.project {
    margin-bottom: 25px;
}

.project h3 {
    font-size: 1.6em;
    margin-bottom: 15px;
    color: #293241;
}

.project p {
    margin-bottom: 15px;
    font-size: 1.2em;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.project a {
    display: inline-block;
    padding: 12px 20px;
    background-color: #3d5a80;
    color: #e0fbfc;
    text-decoration: none;
    border-radius: 8px;
}

.project a:hover {
    background-color: #98c1d9;
}

/* Contact Section */
#contact {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#contact h2 {
    font-size: 2.2em;
    margin-bottom: 20px;
    color: #3d5a80;
}

ul {
    list-style-type: none;
    font-size: 1.2em;
}

ul li {
    margin-bottom: 15px;
}

/* Footer Section */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #3d5a80;
    color: #e0fbfc;
    border-radius: 12px;
    margin-top: 25px;
}
